body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

#headSec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.818)), url("images/donation9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 80vh;
    background-position: center top;
    text-align: center;
    color: antiquewhite;

    /* width: 100%; */

}

#headSec h1 {
    padding-top: 10px;
    font-size: 45px;
    font-weight: 900;


}

#headdiv {
    padding: 200px 20%;
}

#headSec p {
    margin-bottom: 40px;
}

.link {
    margin-top: 40px;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(245, 106, 81);
    padding: 10px 20px;
    border-radius: 5px;
}

#midsec {
    text-align: center;
}

#second-div1 {
    padding-top: 50px;
    margin-bottom: 80px;
}

#second-div1 p {
    color: gray;

}

#form-section {

    margin: 0px 30px;
}

.hidbox {
    display: none;
}


input[type="radio"]:checked+label {
    border: 2px solid orangered;
    background-color: rgba(217, 104, 104, 0.333);
    color: rgb(230, 84, 46);

}

#txttaka {
    margin-top: 90px;
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.358);
    text-align: center;
    resize: none;
}

.taka {

    background-color: rgba(206, 199, 199, 0.313);
    padding: 40px 30px;
    margin: 20px 15px;
    font-weight: 600;
}

#midsec2 {
    text-align: center;
    margin-top: 60px;

}

#midsec2 p {
    color: rgb(95, 95, 95);
}

#third-flex {
    display: flex;

}

.flexItem {
    width: 30%;

    margin: 2%;
    padding: 10px 30px;
    border-radius: 10px;

}

#location {
    width: 15px;
    padding-top: 20px;
}

.flexItem h3 {
    text-align: left;
    font-size: 20px;


}

.flexItem p {
    text-align: left;
}

.flexItem img {
    width: 25%;

    padding-right: 85%;
    padding-top: 15px;


}

#plan1st {
    background-color: #0088ff38;
}

#plan2nd {
    background-color: #ffc0cb55;
}

#plan3rd {
    background-color: #e3cc2366;
}

#working {
    margin-top: 40px;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("images/Frame57.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#half1 {
    width: 60%;
    text-align: center;
    padding: 120px 50px;
    font-size: 30px;
}

#half2 {
    width: 40%;
    margin-left: 20px;
    margin-right: 30px;

    padding: 20px;
    box-shadow: 10px 10px 40px rgb(69, 67, 67);
    float: left;
    font-size: 15px;
    border-radius: 15px;
    background-color: white;

}

#half2 img {
    width: 100%;
    max-height: 50vh;
    /* border: 5px solid rgb(144, 144, 144);
    border-radius: 5px; */
}

#getUpdate {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
}

#mail {

    margin: 40px 25%;
    width: 50%;
    padding: 50px 20px;
    background-color: rgba(222, 167, 66, 0.37);
}

#mail input[type="email"] {
    background-color: #D9D9D9;
    border: none;
    height: 30px;
    border-radius: 5px;
}

#mail input[type="submit"] {
    color: white;
    border: none;
    background-color: #fa4f4f;
    padding: 10px 30px;
    border-radius: 10px;
}

footer {
    background-color: black;
    text-align: center;
    margin-bottom: 0;

}

footer h3 {
    color: rgb(102, 148, 226);
    padding-top: 30px;

    font-weight: 800;
    font-size: 30px;
}

footer p {
    margin-bottom: 0;
    padding-bottom: 30px;
    font-size: 15px;
    color: #ff7474;
}